{{# partial "contenido" }}
    <head>
      <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" type="text/css" href="assets/general.css">
          <link rel="stylesheet" type="text/css" href="assets/Notificaciones.css">

          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
                crossorigin="anonymous">
      </head>
      <body >
        <h1 class="titulosPantallasSinLayout">Notificaciones</h1>


          <section>
               <ul>
                 {{#each Notificaciones}}
                   <li>
                     <!-- Información de la heladera -->
                     <strong>Nombre de la Heladera:</strong> {{this.heladera.nombre}} <br>
                     <strong>Dirección:</strong> {{this.heladera.direccion.provincia}} {{this.heladera.direccion.localidad}} {{this.heladera.direccion.direccion}} <br>
                      <strong>Tipo Notificacion:</strong> {{lookup ../TiposNotificacion @index}} <br>
                     <!-- Datos de la notificación -->
                     <strong>Viandas Actualmente en Heladera:</strong> {{lookup ../CantidadViandas @index}} <br>
                     <strong>Viandas Faltantes:</strong> {{lookup ../Faltantes @index}} <br>
                     <strong>Viandas en Camino (Solicitudes):</strong> {{lookup ../EnCamino @index}} <br>

                      <a href="{{lookup ../Enlaces @index}}">Colaborar</a>
                   </li>
                 {{/each}}
               </ul>
          </section>


{{/partial}}

{{> BarraNavegacion.html }}