{{# partial "contenido" }}
    <head>
      <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" type="text/css" href="assets/general.css">
          <link rel="stylesheet" type="text/css" href="assets/Colaboraciones.css">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
                crossorigin="anonymous">
      </head>
      <body >
        <h1 class="titulosPantallasSinLayout">Reportes</h1>
      <form action="/reporte" method="GET">
      <section class="form-floating">
                     <div class="form-floating">
                         <select class="form-control" id="filtro" name="eleccion" required>
                             <option value="">Seleccione</option>
                             <option value="0">Fallas por heladera</option>
                             <option value="1">Viandas retiradas y colocaldas</option>
                             <option value="2">Viandas por colaborador</option>
                             <option value="3">Puntaje Colaborador</option>

                         </select>
                         <label for="eleccion">Filtros</label>
                     </div>
          </section>
          <div class="row" id="BotonFiltrarHeladera">
              <input class="botonPrincipal" type="submit" value="filtrar">
          </div>
      </form>

  <form action="/reporte/descargar" method="POST">
      <section>
          <h1>Reporte</h1>

          <!-- Datos de Heladeras -->
          {{#if heladeras}}
              <h2>Reporte por Heladeras</h2>
              <ul>
                  {{#each heladeras}}
                      <li>
                         <strong>Nombre:</strong> {{@key.nombre}} <br>
                         <strong>Dirección:</strong> {{@key.direccion.provincia}} {{@key.direccion.localidad}} {{@key.direccion.direccion}} <br>
                         <strong>Capacidad:</strong> {{@key.capacidadDeViandas}} viandas <br>

                         <strong>Cantidad:</strong> {{this}}
                      </li>
                  {{/each}}
              </ul>
          {{/if}}

          <!-- Datos de Colaboradores -->
          {{#if colaboradores}}
              <h2>Reporte por Colaboradores</h2>
              <ul>
                  {{#each colaboradores}}
                      <li>
                         <strong>Nombre:</strong> {{@key.nombre}} <br>
                         <strong>Documento:</strong> {{@key.getDocumento}} ({{@key.getTipoDocumento}}) <br>
                         <strong>Dirección:</strong> {{@key.direccion.provincia}} {{@key.direccion.localidad}} {{@key.direccion.direccion}} <br>
                         <strong>Puntaje:</strong> {{this}}
                      </li>
                  {{/each}}
              </ul>
          {{/if}}
      </section>
          <div class="row" id="BotonDescargar">
              <input class="botonPrincipal" type="submit" value="Descargar">
          </div>
  </form>
{{/partial}}

{{> BarraNavegacion.html }}